@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* global variables */
*{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font: normal 100%;
}

img{
    max-width:100%;
}


.body-container{
    margin:auto;
    max-width:95%;
}


/* top navigation bar */
.topnav{
    /* position: relative; */
    /* overflow:hidden; */
    z-index: 100;  /*navbar highest priority*/
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 2px 2px gray;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;  
    justify-content: space-between;/*flex box that sets the logo and    
                                    navbar with space in between*/
}

.navbar{
    width:100%;
}

.navbar ul{
    margin-right: auto;
    margin-top:35px;
    display:flex;
    justify-content: space-evenly;
}

/*targets the list elements*/
.navbar ul li{
    display: inline-block;
    margin: 0 5px;
    
}

.navbar ul li a{
    font-size: 1.3rem;
    font-weight: lighter;
    color: black;
}



.navbar a:hover{
    color:#7FDDDD;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom: 2px solid #258989;
}

.navbar a.active{
    color:#7FDDDD;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom: 2px solid #258989;
}

/*Figures and Images*/
  .photo-gallery{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    object-fit:scale-down;
  }

  .gallery-wrapper:hover{
    -webkit-transform:scale(1.02); /* or some other value */
  transform:scale(1.02);
  }

  .photo-gallery img{
    max-width:100%;
    width:390px;
    height:420px;
    object-fit:fill;
    border-radius: 10px 10px 0px 0px;
  }

  .gallery-wrapper{
    color:white;
    background-color:rgb(0, 0, 0);
    margin:12px;
    border-radius: 10px 10px 0px 0px;
  }

  .gallery-wrapper p{
    padding:0px;
    margin:5px;
  }

  #pitt-map{
    width:470px;
  }



/*Body container*/

.body-container{
  background-color: rgba(18, 10, 128, 0.12);
  padding-bottom: 50px;

}

.body-container h1{
  font-size: 2em;
  font-weight: bold;
  letter-spacing:0.1em;
  border-bottom: 4px solid #258989;
  width: fit-content;
  margin-top:30px;
  margin-left:15px;
  margin-bottom: 50px;
  padding-top:30px;
  padding-left:0px;
  padding-right:30px;
}
  
  /* Timeline Container */
  .timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Outer Layer with the timeline border */
  .outer {
    border-left: 2px solid #333;
  }
  
  /* Card container */
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background:#21ABAB;
    color: black;
    border-radius: 8px;
    max-width: 400px;
  }

  /*hover over effect add gray border to the box*/
  .card:hover{
    box-shadow: 0 4px 2px 2px gray;
  }

  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Title of the card */
  .title {
    color: white;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 999px;
    left: -40px;
    border: 3px solid #7FDDDD;
  }

  /*hover effect for the circle*/
  .title:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
  }

  .title:hover{
    box-shadow:0px 0px 10px 2px white;
  }


/* More resources */
.resource-gallery{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  }

.resource-wrapper h2{
  font-weight: bold;
  color: #258989;
  text-decoration: underline;
  padding-left: 7px;
  padding-right: 7px;
}


.resource-wrapper{
  border-radius: 13px;
  max-width:380px;
  border:1px solid #ccc;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom:30px;
  margin-bottom:20px;
}

.resource-wrapper img{
  max-width:100%;
  width:380px;
  height:250px;
  object-fit:cover;
  border-radius: 13px 13px 0 0;
  border-bottom: 1px solid#ccc;
}

.resource-wrapper p{
  padding-left: 7px;
  padding-right: 7px;
  line-height: 20px;
  margin-bottom:30px;
}

.resource-wrapper a{
  font-size: 15px;
  color: white;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  margin-left:10px;
  text-decoration: none;
  padding:1.5%;
  border-radius:7px;
}

.resource-wrapper:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 


}

.resource-wrapper a:hover{
  opacity: 0.8;
}


/*background repeating pattern with lowest z-index*/
.pattern{
    position: fixed;
    width: 100vw;
    height: 100vh; 
    background-color: #e5e5f7;
    opacity: 0.2;
    background: linear-gradient(135deg, #439eb455 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #439eb4 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #439eb455 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #439eb4 25%, #e5e5f7 25%) 0px 0/ 80px 80px;
    z-index: -100;
}